#wall-header{
  align-items: center;
  margin-top: -15%;
}

#new-post-button{
  margin-left: 28%;
  margin-top: 5%;
  border-radius: 15px;
  height: 40px;
  width: 150px;
  color: #fefefe;
  background-color: #b09b95;
}

.new-post-container{
  align-content: center;
  background-color: #fefefe;
  border-style: solid;
  border-width: 3px;
  border-color: #f3aa92;
  border-radius: 15px;
  margin: 15px;
}

.new-post-title{
  color: #1f3361;
  font-size: 18px;
  font-weight: bold;
  margin-left: 3%;
}

.new-post-text{
  color: #4f4f4f;
  margin-left: 3%;
}

.wall-button-container{
  margin-left: 25%
}

.wall-button{
  height: 15px;
  color: #fefefe;
  background-color: #b09b95;
}

h2 {
  font-family: "Yusei Magic", sans-serif;
  font-size: 150%;
  text-align: justify;
  color: #1f40ad;
  text-align: center;
  padding-top: 10%;